@model TaskManager2017.ViewModels.HomeUsersViewModel



<br />
<br />
<div class="alert alert-dismissible alert-success" style="height: 50px; width:50%;" >
    <button type="button" class="close" data-dismiss="alert"  >&times;</button>
    <h3><strong>Welcome @Model.FirstName @Model.LastName</strong></h3>
</div>

<br />
<br />
<div class="jumbotron" style="width:500px; height:250px;">
    <!--<h1 class="display-3">Hello, world!</h1>-->
    <p class="lead">
        Use the task bar to create projects and teams, or find a project to help with.<br />
        You can also use the task bar to view your projects and tasks you have grabbed or search<br />
        for a user.
    </p>
    <!--<hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>-->
</div>
<!--<p>
    Use the task bar to create projects and teams, or find a project to help with.<br />
    You can also use the task bar to view your projects and tasks you have grabbed or search<br />
    for a user.
</p>-->
<br />
<br />
<div class="card text-black-50 bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">Teams you have created</div>
    <div class="card-body">
        @if (Model.UserCreatedTeams != null)
        {
            @foreach (var team in Model.UserCreatedTeams)
            {
                <h5>Team Name: <a asp-controller="Teams" asp-action="Details" asp-route-id="@team">@team</a></h5>

            }

        }
        else
        {
            <h5>You have not created any teams, click <a asp-controller="Teams" asp-action="Create">here</a> to create one</h5>

        }
        
    </div>
</div>
<div class="card text-black-50 bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">Teams you have joined</div>
    <div class="card-body">
        @if (Model.TeamsUserIn != null)
        {

            @foreach (var team in Model.TeamsUserIn)
            {
                if (team.CreatedBy != Model.UserName)
                {
                    <h5>Team Name: <a asp-controller="Teams" asp-action="Details" asp-route-id="@team.Name">@team.Name</a></h5>
                }
                if (team.CreatedBy == Model.UserName)
                {
                    <h5>You have not joined any teams, click <a asp-controller="Teams" asp-action="JoinTeam">here</a> to join one</h5>
                }


            }

        }
        else
        {
            <h5>You have not joined any teams, click <a asp-controller="Teams" asp-action="JoinTeam">here</a> to join one</h5>

        }

    </div>
</div>
<div class="card text-black-50 bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">Your Projects</div>
    <div class="card-body">
        @if (Model.UserProjects.Count == 0)
        {
            <h5>You have not created any projects, click <a asp-controller="Projects" asp-action="Create">here</a> to create one</h5>

        }
        else
        {
            <h5>You have created @Model.UserProjects.Count projects, click <a asp-controller="Projects" asp-action="ViewProjects">here</a> to view them</h5>

        }
    </div>
</div>
<div class="card text-black-50 bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">Your Tasks</div>
    <div class="card-body">
        @if (Model.CompletedTasks == 0 & Model.UncompletedTasks == 0)
        {
            <h5>You have not selected any tasks to complete, click <a asp-controller="Tasks" asp-action="FindTasks">here</a> to browse through projects</h5>

        }
        else
        {
            <h5>You have completed @Model.CompletedTasks but you still have @Model.UncompletedTasks uncompleted tasks. Click <a asp-controller="Tasks" asp-action="ViewTasks">here</a> to view them all</h5>

        }
    </div>
</div>






