@model TaskManager.Models.User



<br />
<br />
<h1>Welcome @Model.FirstName @Model.LastName</h1>
<br />
<br />

<p>
    Use the task bar to create projects and teams, or find a project to help with.<br />
    You can also use the task bar to view your projects and tasks you have grabbed or search<br />
    for a user.
</p>
<br />
<br />
<h3>Teams you have created</h3>

@if (ViewBag.UserCreatedTeams.Count != 0)
{
    
    @foreach (var team in ViewBag.UserCreatedTeams)
    {
        <h5>Team Name: <a asp-controller="Teams" asp-action="Details" asp-route-id="@team.Name">@team.Name</a></h5>

    }

}
else
{
    <h5>You have not created any teams, click <a asp-controller="Teams" asp-action="Create">here</a> to create one</h5>

}
<br />
<h3>Teams you have joined</h3>
@if (ViewBag.TeamUserIn.Count != 0)
{
    @foreach (var team in ViewBag.TeamUserIn)
    {

        <h5>Team Name: <a asp-controller="Teams" asp-action="Details" asp-route-id="@team.Team">@team.Team</a></h5>

    }

}
else
{
    <h5>You have not joined any teams, click <a asp-controller="Teams" asp-action="JoinTeam">here</a> to join one</h5>

}
<br />
<h3>Projects</h3>
@if (ViewBag.ProjectCount == 0)
{
    <h5>You have not created any projects, click <a asp-controller="Projects" asp-action="Create">here</a> to create one</h5>

}
else
{
    <h5>You have created @ViewBag.ProjectCount projects, click <a asp-controller="Projects" asp-action="ViewProjects">here</a> to view them</h5>

}
<br />
<h3>Tasks</h3>
@if (ViewBag.CompletedTasks == 0 & ViewBag.UncompletedTasks == 0)
{
<h5>You have not selected any tasks to complete, click <a asp-controller="Tasks" asp-action="FindTasks">here</a> to browse through projects</h5>

}
else
{
<h5>You have @ViewBag.UncompletedTasks uncompleted tasks, click <a asp-controller="Tasks" asp-action="ViewTasks">here</a> to view them all</h5>

}





