@model TaskManager.Models.User


<h9>Profile</h9>
<br />
<br />
<h4>User:@Model.Username</h4>

<h5>Name: @Model.FirstName @Model.LastName<br />Email: @Model.Email</h5>
<br />
@if (Model.LoggedOn)
{
    <h4 style="color:limegreen">Online</h4>

}
else
{
    <h4 style="color:red">Offline</h4>

}
<br />
@if (ViewBag.UserProjects.Count != 0)
{

    <h3>@Model.Username's Projects</h3>
    foreach (var project in ViewBag.UserProjects)
    {
        <p>Project Name: @project.Name</p><br />
        <p>Project Description: @project.Description</p>
        <p>----</p>
    }

}




<br />
@if (ViewBag.UserTasks.Count != 0)
{
    <h4>@Model.Username's Tasks</h4>
    @foreach(var task in ViewBag.UserTasks)
    {
        <p>From Project: @task.Project</p>
        <p>Created By: @task.CreatedBy</p>
        <p>Task Name: @task.Name</p>
        @if(task.Description != null)
        {
            <p>Task Description:@task.Description</p>

        }
        <p>----</p>

    }

}
<br />
@if(ViewBag.UserTeams.Count != 0)
{
    <h5>Teams @Model.Username is in</h5>
    @foreach(var team in ViewBag.UserTeams)
    {
        <p>@team.Team</p>
        <p>----</p>

    }

}





